# Reviewers that should be generally notified.
* @l-monninger
* @apenzk

# Authors and reviewers that should be added for specific files

## MDs
/MD/md-0/ @l-monninger @apenzk
/MD/md-3/ @l-monninger @apenzk
/MD/md-4/ @l-monninger
/MD/md-5/ @l-monninger @apenzk
/MD/md-15/ @l-monninger @apenzk
/MD/md-93/ @andygolay

## MIPs
/MIP/mip-0/ @l-monninger @apenzk
/MIP/mip-1/ @l-monninger
/MIP/mip-15/ @l-monninger @apenzk
/MIP/mip-39/ @franck44
/MIP/mip-52/ @l-monninger
/MIP/mip-53/ @l-monninger
/MIP/mip-58/ @primata @apenzk
/MIP/mip-61/ @apenzk @musitdev
/MIP/mip-60/ @franck44 @apenzk
/MIP/mip-84/ @apenzk
/MIP/mip-88/ @apenzk @Primata
/MIP/mip-91/ @apenzk
/MIP/mip-94/ @andygolay

## MGs
/MG/mg-0/ @l-monninger
